.grid-sm
  .panel.panel-default
    p.page-title
      i.fa.fa-cloud(style="color: #e25440;")
      |  Servers
.grid-sm
  .panel.panel-default
    form(ng-submit="ctrl.saveServers()", autocomplete="off").panel-body
      table.table.table-hover
        tr
          th.col-md-5 Host
          th.col-md-2 User
          th.col-md-2 Password
          th.col-md-1.text.center Actions
          th.col-md-1.text.center Read only
          th.col-md-1.text-center
            i.fa.fa-trash-o.fa-lg(tooltip="Forget server")
        tr(ng-repeat="server in ctrl.servers track by server.id")
          td
            .input-group
              span.input-group-addon.hidden-xs(ng-if="server.status === 'connected'")
                i.xo-icon-success.fa-lg(tooltip="Connected")
              span.input-group-addon.hidden-xs(ng-if="server.status === 'disconnected'")
                i.xo-icon-failure.fa-lg(tooltip="Disconnected")
              span.input-group-addon.hidden-xs(ng-if="server.status === 'connecting'")
                i.fa.fa-cog.fa-lg.fa-spin(tooltip="Connecting...")
              input.form-control(
                type="text",
                ng-model="server.host",
                ng-focus="$parent.isFocused = true",
                ng-blur="$parent.isFocused = false"
              )
          td
            input.form-control(
              type="text",
              ng-model="server.username",
              ng-focus="$parent.isFocused = true",
              ng-blur="$parent.isFocused = false"
            )
          td
            input.form-control(
              type="password",
              ng-model="server.password",
              placeholder="Fill to change the password",
              ng-focus="$parent.isFocused = true",
              ng-blur="$parent.isFocused = false"
            )
          td.text-center
            button.btn.btn-default(
              ng-if="server.status === 'disconnected'",
              type="button",
              ng-click="ctrl.connectServer(server.id)",
              tooltip="Reconnect this server"
            )
              i.fa.fa-link
            button.btn.btn-danger(
              ng-if="server.status === 'connected'",
              type="button",
              ng-click="ctrl.disconnectServer(server.id)"
              tooltip="Disconnect this server"
            )
              i.fa.fa-unlink
          td.text-center
            input(type="checkbox", ng-model="readOnly[server.id]")
          td.text-center
            input(type="checkbox", ng-model="ctrl.selectedServers[server.id]")
        tr(ng-repeat="server in ctrl.newServers")
          td
            input.form-control(
              type = "text"
              ng-model = "server.host"
              placeholder = "address[:port]"
            )
          td
            input.form-control(
              type = "text"
              ng-model = "server.username"
              ng-required = "server.host"
              placeholder = "user"
            )
          td
            input.form-control(
              type="password"
              ng-model="server.password"
              ng-required = "server.host"
              placeholder="password"
            )
          td &#160;
          td.text-center
            input( type="checkbox", ng-model="server.readOnly")
          td &#160;
      p.text-center
        button.btn.btn-primary(type="submit")
          i.fa.fa-save
          |  Save
        | &nbsp;
        button.btn.btn-success(type="button", ng-click="ctrl.addServer()")
          i.fa.fa-plus
