.panel.panel-default.alert.alert-danger(ng-if="!ctrl.resourceSets")
  | No resource set found. 
  a(ui-sref = 'self.admin') Create one here.
.grid(ng-if="ctrl.resourceSets")
  .panel.panel-default
    button.btn.btn-default.col-sm-1.col-sm-offset-3(
      style="margin-top:4px;margin-bottom:4px;"
      ng-disabled="ctrl.pageIndex === 0"
      ng-click="ctrl.pageIndex = ctrl.pageIndex - 1; ctrl.updateResourceSetsToShow()"
    )
      i.fa.fa-chevron-left
    p.page-title.col-sm-4
      i.fa.xo-icon-cpu(style="color: #e25440;")
      |  Dashboard
      span(style="font-size: 0.8em")  ({{ ctrl.pageIndex + 1 }}/{{ ctrl.numberOfPages }})
    button.btn.btn-default.col-sm-1(
      style="margin-top:4px;margin-bottom:4px;"
      ng-disabled="ctrl.pageIndex + 1 === ctrl.numberOfPages"
      ng-click="ctrl.pageIndex = ctrl.pageIndex + 1; ctrl.updateResourceSetsToShow()"
    )
      i.fa.fa-chevron-right
.well.panel(
  ng-repeat="resourceSet in ctrl.resourceSetsToShow"
  ng-init="users = ctrl.getUsers(resourceSet.subjects); groups = ctrl.getGroups(resourceSet.subjects); showDetails = false"
)
  .panel.panel-default
    .grid
      .col-sm-4
      p.page-title.col-sm-4 {{ resourceSet.name }}
      button.btn.btn-default.col-sm-1.col-sm-offset-3(ng-click="showDetails = !showDetails" style="border-style: none")
        i.fa.fa-chevron-down(ng-if="!showDetails")
        i.fa.fa-chevron-up(ng-if="showDetails")
  .panel.panel-default(ng-if="showDetails")
    ul.list-group
      li.list-group-item(ng-if="users.length")
        .grid
          label.control-label.col-sm-2
            .xo-icon-user
            |  Users: 
          .col-sm-10
            span(ng-repeat="user in users track by user.id") {{ user.email }}
              span(ng-if="!$last") , 
      li.list-group-item(ng-if="groups.length")
        .grid
          label.control-label.col-sm-2
            .xo-icon-group
            |  Groups: 
          .col-sm-10
            span(ng-repeat="group in groups track by group.id") {{ group.name }}
              span(ng-if="!$last") , 
  .grid-sm
    .grid-cell
      .panel.panel-default
        .panel-heading.panel-title
          i.xo-icon-cpu
          |  vCPUs
          span(ng-if="resourceSet.limits.cpus" style="font-variant: normal; font-weight: normal")  ({{ resourceSet.limits.cpus.total }})
        .panel-body.text-center(style="height:185px")
          canvas(
            ng-if="resourceSet.limits.cpus"
            class="chart chart-doughnut"
            data="[resourceSet.limits.cpus.total - resourceSet.limits.cpus.available, resourceSet.limits.cpus.available]"
            labels="['Used', 'Available']"
            options='{responsive: false,tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= value %> vCPUs"}'
          )
          p.big-stat(ng-if="!resourceSet.limits.cpus || !resourceSet.limits.cpus.total") &infin;
    .grid-cell
      .panel.panel-default
        .panel-heading.panel-title
          i.xo-icon-memory
          |  Memory
          span(ng-if="resourceSet.limits.memory" style="font-variant: normal; font-weight: normal")  ({{ resourceSet.limits.memory.total | bytesToSize }})
        .panel-body.text-center(style="height:185px")
          canvas(
            ng-if="resourceSet.limits.memory"
            class="chart chart-doughnut"
            data="[resourceSet.limits.memory.total - resourceSet.limits.memory.available, resourceSet.limits.memory.available]"
            labels="['Used', 'Available']"
            options='{responsive: false,tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= bytesToSize(value) %>"}'
          )
          p.big-stat(ng-if="!resourceSet.limits.memory || !resourceSet.limits.memory.total") &infin;
    .grid-cell
      .panel.panel-default
        .panel-heading.panel-title
          i.xo-icon-sr
          |  Storage
          span(ng-if="resourceSet.limits.disk" style="font-variant: normal; font-weight: normal")  ({{ resourceSet.limits.disk.total | bytesToSize }})
        .panel-body.text-center(style="height:185px")
          canvas(
            ng-if="resourceSet.limits.disk"
            class="chart chart-doughnut"
            data="[resourceSet.limits.disk.total - resourceSet.limits.disk.available, resourceSet.limits.disk.available]"
            labels="['Used', 'Available']"
            options='{responsive: false,tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= bytesToSize(value) %>"}'
          )
          p.big-stat(ng-if="!resourceSet.limits.disk || !resourceSet.limits.disk.total") &infin;
