//- TODO: lots of stuff.
.grid-sm
  .panel.panel-default
    p.page-title
      i.xo-icon-pool
      |  {{pool.name_label}}
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-cogs
      |  General
      span.quick-edit(tooltip="Edit General settings", ng-click="poolSettings.$show()")
        i.fa.fa-edit.fa-fw
    .panel-body
      form(editable-form="", name="poolSettings", onbeforesave="savePool($data)")
        dl.dl-horizontal
          dt Name
          dd
            span(editable-text="pool.name_label", e-name="name_label", e-form="poolSettings")
              | {{pool.name_label}}
          dt Description
          dd
            span(editable-text="pool.name_description", e-name="name_description", e-form="poolSettings")
              | {{pool.name_description}}
          dt Master
          dd(ng-repeat="master in [pool.master] | resolve")
            a(ui-sref="hosts_view({id: master.id})")
              | {{master.name_label}}
          dt Tags
          dd
            xo-tag(ng-if = 'pool', object = 'pool')
          dt(ng-if="pool.default_SR") Default SR
          dd(ng-if="pool.default_SR", ng-init="default_SR = (pool.default_SR | resolve)")
            a(ui-sref="SRs_view({id: default_SR.id})") {{default_SR.name_label}}
          dt HA
          dd
            | {{pool.HA_enabled}}
          dt UUID
          dd {{pool.UUID}}
        .btn-form(ng-show="poolSettings.$visible")
          p.center
            button.btn.btn-default(type="button", ng-disabled="poolSettings.$waiting", ng-click="poolSettings.$cancel()")
              i.fa.fa-times
              | Cancel
            | &nbsp;
            button.btn.btn-primary(type="submit", ng-disabled="poolSettings.$waiting")
              i.fa.fa-save
              | Save
  .panel.panel-default
    .panel-heading.panel-title
      i.xo-icon-stats
      |  Stats
    .row
      .col-xs-6
        p.stat-name Hosts:
        p.center.big-stat {{hosts | count}}
      .col-xs-6
        p.stat-name Running:
        p.center.big-stat {{runningHosts | count}}

//- Action panel
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-flash
      |  Actions
    .panel-body
      .grid-cell.text-center
        .grid
          .grid-cell.btn-group
            button.btn(tooltip="Add SR", tooltip-placement="top", type="button", style="width: 90%", disabled)
              i.xo-icon-sr.fa-2x.fa-fw
          .grid-cell.btn-group
            button.btn(tooltip="Add VM", tooltip-placement="top", type="button", style="width: 90%", xo-sref="VMs_new({container: pool.id})")
              i.xo-icon-vm.fa-2x.fa-fw
          .grid-cell.btn-group
            button.btn(tooltip="Patch the pool", tooltip-placement="top", type="button", style="width: 90%", ngf-select = "patchPool($files, pool.id)")
              i.fa.fa-file-code-o.fa-2x.fa-fw
          .grid-cell.btn-group
            button.btn(tooltip="Add Host", tooltip-placement="top", type="button", style="width: 90%")
              i.xo-icon-host.fa-2x.fa-fw
          .grid-cell.btn-group
            button.btn(tooltip="Disconnect", tooltip-placement="top", type="button", style="width: 90%; margin-bottom: 0.5em")
              i.fa.fa-unlink.fa-2x.fa-fw

//- Hosts panel
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.xo-icon-host
      |  Hosts
    .panel-body
      table.table.table-hover.table-condensed
        th Name
        th.col-md-4 Description
        th.col-md-6 Memory
        tr(xo-sref="hosts_view({id: host.id})", ng-repeat="host in hosts | map | orderBy:natural('name_label') track by host.id")
          td.oneliner {{host.name_label}}
          td.oneliner {{host.name_description}}
          td
            .progress-condensed
              .progress-bar(
                role="progressbar",
                aria-valuemin="0",
                aria-valuenow="{{host.memory.usage}}",
                aria-valuemax="{{host.memory.size}}",
                style="width: {{[host.memory.usage, host.memory.size] | percentage}}",
                tooltip="RAM: {{host.memory.usage | bytesToSize}}/{{host.memory.size | bytesToSize}} ({{[host.memory.usage, host.memory.size] | percentage}})"
              )

//- Shared SR panel
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.xo-icon-sr
      |  Shared SR
    .panel-body
      table.table.table-hover
        th Name
        th Description
        th Type
        th Size
        th.col-md-4 Physical/Allocated usage
        th.col-md-1 Action
        tr(
          ng-repeat="SR in srs | map | orderBy:natural('name_label') track by SR.id"
          xo-sref="SRs_view({id: SR.id})"
        )
          td.oneliner
            | {{SR.name_label}}&nbsp;
            span.label.label-primary(ng-if="SR.id === pool.default_SR") Default SR
          td.oneliner {{SR.name_description}}
          td {{SR.SR_type}}
          td {{SR.size | bytesToSize}}
          td
            .progress-condensed
              .progress-bar(role="progressbar", aria-valuemin="0", aria-valuenow="{{SR.physical_usage}}", aria-valuemax="{{SR.size}}", style="width: {{[SR.physical_usage, SR.size] | percentage}}", tooltip="Physical usage: {{[SR.physical_usage, SR.size] | percentage}}")
          td
            span.pull-right.btn-group.quick-buttons
              a(ng-if="SR.id !== pool.default_SR", xo-click="setDefaultSr(SR.id)")
                i.fa.fa-hdd-o.fa-lg(tooltip="Set as default SR")
//- Networks/Interfaces panel
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.xo-icon-network
      |  Networks
    .panel-body
      table.table.table-hover
        th.col-md-2 Name
        th.col-md-2 Description
        th.col-md-7 PIFs
        th.col-md-1
        tr(ng-repeat="network in networks track by network.id" ng-init="showPIFs = false")
          td {{network.name_label}}
          td {{network.name_description}}
          td
            a(ng-if="network.PIFs.length && !showPIFs" ng-click="$parent.showPIFs=true") show PIFs ({{network.PIFs.length}})
            a(ng-if="network.PIFs.length && showPIFs" ng-click="$parent.showPIFs=false") hide PIFs
            table.table.table-sm.table-hover(ng-if="network.PIFs.length && showPIFs")
              th.col-md-2 Device
              th.col-md-2 Host
              th.col-md-1 VLAN
              th.col-md-2 Address
              th.col-md-2 MAC
              th.col-md-2 Link status
              tr(ng-repeat="PIF in network.PIFs | resolve | orderBy:natural('($host | resolve).name_label')")
                td
                  | {{PIF.device}} 
                  span.label.label-primary(ng-if="PIF.management") XAPI
                  | &nbsp;
                  span.label.label-primary(ng-if="PIF.physical") Phys.
                td {{(PIF.$host | resolve).name_label}}
                td
                  span(ng-if="PIF.vlan > -1") {{PIF.vlan}}
                  span(ng-if="PIF.vlan == -1") -
                td {{PIF.ip}} ({{PIF.mode}})
                td {{PIF.mac}}
                td
                  span.label.label-default(ng-if="!PIF.attached") Disconnected
                  span.label.label-success(ng-if="PIF.attached") Connected
                  span.pull-right.btn-group.quick-buttons(ng-if="canAdmin()")
                    i.fa.fa-unlink.fa-lg.text-danger(ng-if="PIF.disallowUnplug" tooltip="Disconnection not allowed")
                    i.fa.fa-unlink.fa-lg.text-danger(ng-if="!PIF.disallowUnplug && PIF.management" tooltip="Management PIF")
                    a(tooltip="Disconnect this interface" xo-click="disconnectPIF(PIF.id)", ng-if = 'PIF.attached && !PIF.disallowUnplug && !PIF.management')
                      i.fa.fa-unlink.fa-lg
                    a(tooltip="Connect this interface" xo-click="connectPIF(PIF.id)", ng-if = '!PIF.attached')
                      i.fa.fa-link.fa-lg
            span(ng-if="!network.PIFs.length") No PIF attached to this network
          td
            span.pull-right.btn-group.quick-buttons
              i.fa.fa-trash-o.text-danger.fa-lg(ng-if="disallowDelete(network)" tooltip="Some PIFs cannot be disconnected")
              i.fa.fa-trash-o.text-danger.fa-lg(ng-if="network.name_label === 'Host internal management network'" tooltip="Management network")
              a(tooltip="Remove network" xo-click="$parent.deleteNetwork(network.id)", ng-if = 'canAdmin() && network.name_label !== "Host internal management network" && !disallowDelete(network)')
                i.fa.fa-trash-o.fa-lg
      .text-right
        button.btn(type="button", ng-class = '{"btn-success": creatingNetwork, "btn-primary": !creatingNetwork}', ng-click="creatingNetwork = !creatingNetwork", ng-hide = '!canAdmin()', ng-disabled = '!canAdmin()')
          i.fa.fa-plus(ng-if = '!creatingNetwork')
          i.fa.fa-minus(ng-if = 'creatingNetwork')
          |  Create Network
      br
      form.form-inline.text-right#createNetworkForm(ng-if = 'creatingNetwork', name = 'createNetworkForm', ng-submit = 'createNetwork(newNetworkName, newNetworkDescription, newNetworkPIF, newNetworkMTU, newNetworkVlan)')
        fieldset(ng-disabled = 'createNetworkWaiting || !canAdmin()')
          .form-group
            label(for = 'newNetworkPIF') Interface&nbsp;
            select.form-control(ng-model = 'newNetworkPIF', ng-change = 'updateMTU(newNetworkPIF)', ng-options='(PIF | resolve).device for PIF in physicalPifs()')
              option(value = '') None
          | &nbsp;
          .form-group
            label.control-label(for = 'newNetworkName') Name&nbsp;
            input#newNetworkName.form-control(type = 'text', ng-model = 'newNetworkName', required)
          | &nbsp;
          .form-group
            label.control-label(for = 'newNetworkDescription') Description&nbsp;
            input#newNetworkDescription.form-control(type = 'text', ng-model = 'newNetworkDescription', placeholder= 'Network created with Xen Orchestra')
          | &nbsp;
          .form-group
            label.control-label(for = 'newNetworkVlan') VLAN&nbsp;
            input#newNetworkVlan.form-control(type = 'text', ng-model = 'newNetworkVlan', placeholder = 'Defaut: no VLAN')
          | &nbsp;
          .form-group
            label(for = 'newNetworkMTU') MTU&nbsp;
            input#newNetworkMTU.form-control(type = 'text', ng-model = 'newNetworkMTU', placeholder = 'Default: 1500')
          | &nbsp;
          .form-group
            button.btn.btn-primary(type = 'submit')
              i.fa.fa-plus-square
              |  Create
              span(ng-if = 'createNetworkWaiting')
                | &nbsp;
                i.xo-icon-loading-sm
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-refresh
        |  Updates
        span.quick-edit(
          ng-if="totalUpdates"
          tooltip="Update all"
          ng-click="installAllPatches()"
        )
          i.fa.fa-download.fa-fw
      .panel-body
        p.center(ng-if="!totalUpdates") Everything up to date
        table.table.table-hover(ng-if="totalUpdates")
          tr
            th Host
            th Description
            th Missing patches
            th Install
          tr( ng-repeat="host in hosts" ng-if="nbUpdates[host.id]")
            td.oneliner
              | {{ host.name_label }}
            td.oneliner
              | {{ host.name_description }}
            td {{ nbUpdates[host.id] }}
            td
              button.btn.btn-success(ng-click="installHostPatches(host.id)" tooltip="Install {{ nbUpdates[host.id] }} patch(es)")
                | Update host
//- Logs panel
.grid-sm
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-comments
      |  Logs
      span.quick-edit(ng-if="pool.messages | isNotEmpty", tooltip="Remove all logs", xo-click="deleteAllLog()")
        i.fa.fa-trash-o.fa-fw
    .panel-body
      p.center(ng-if="pool.messages | isEmpty") No recent logs
      table.table.table-hover(ng-if="pool.messages | isNotEmpty")
        th Date
        th Name
        tr(ng-repeat="message in pool.messages | map | orderBy:'-time' | slice:(5*(currentLogPage-1)):(5*currentLogPage) track by message.id")
          td {{message.time*1e3 | date:"medium"}}
          td
            | {{message.name}}
            span.pull-right.btn-group.quick-buttons
              a(xo-click="deleteLog(message.id)")
                i.fa.fa-trash-o.fa-lg(tooltip="Remove this log entry")
      .center(ng-if = '(pool.messages | count) > 5 || currentLogPage > 1')
        pagination(boundary-links="true", total-items="pool.messages | count", ng-model="$parent.currentLogPage", items-per-page="5", max-size="5", class="pagination-sm", previous-text="<", next-text=">", first-text="<<", last-text=">>")
  .panel.panel-default
    .panel-heading.panel-title
      i.fa.fa-book
      |  License
    .panel-body
      .row(ng-repeat="(key, value) in license")
        label.control-label.col-sm-3
          | {{key}}:
        .col-sm-9 {{value}}
