.grid-sm
  .panel.panel-default
    p.page-title
      i.fa.fa-dashboard
      |  Dashboard
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-cloud
        |  Pools
      .panel-body.text-center
        p.big-stat {{pools.nb}}
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-server
        |  Hosts
      .panel-body.text-center
        p.big-stat {{hosts.nb}}
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-desktop
        |  VMs
      .panel-body.text-center
        p.big-stat {{vms.nb}}
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory
        |  Global RAM usage
      .panel-body.text-center
        canvas(  
          id="doughnut"  
          class="chart chart-doughnut"  
          data="ram"  
          labels="['Used', 'Free']"  
          options='{responsive: false,tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= bytesToSize(value) %>"}'  
          )  

  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-dashboard
        |  vCPUs/CPUs
      .panel-body.text-center
        canvas(  
                 id="bar"  
                class="chart chart-bar"  
                data="cpu"  
                labels="['']"  
                series="['vCPUs','CPUs']"  
                options="{scaleShowGridLines: false, barDatasetSpacing : 10, showScale: false, responsive: false}"  
        )  


  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-question-circle
        |  VMs power state
      .panel-body.text-center
        canvas(
          id="pie"
          class="chart chart-pie"
          data="vms.states"
          labels="['Running', 'Halted', 'Suspended', 'Action']"
          colours="['#5cb85c', '#d9534f', '#5bc0de', '#f0ad4e']"
          options="{responsive: false}"
        )
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-database
        |  Storage
      .panel-body
        table.table.table-hover
          tr
            th Name
            th pool
            th host
            th Format
            th Size
            th Physical/Allocated usage
          //- TODO: display PBD status for each SR of this host (connected or not)
          //- Shared SR
          tr(xo-sref="SRs_view({id: SR.id})", ng-repeat="SR in srs | map | orderBy:'-ratio'  track by SR.id")
            td.oneliner
              | {{SR.name_label}} 
            td.oneliner
              | {{SR.pool_label}}
            td.oneliner
              | {{SR.host_label}}
            td {{SR.SR_type}}
            td {{SR.size | bytesToSize}}
            td
              .progress-condensed
                .progress-bar(
                  role="progressbar",
                  aria-valuemin="0",
                  aria-valuenow="{{SR.physical_usage}}",
                  aria-valuemax="{{SR.size}}",
                  style="width: {{[SR.physical_usage, SR.size] | percentage}}",
                  tooltip="Physical usage: {{[SR.physical_usage, SR.size] | percentage}}"
                )
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-refresh
        |  Updates
        span.quick-edit(
          tooltip="Update all"
          ng-click="installAllPatches()"
        )
          i.fa.fa-download.fa-fw
      .panel-body
        table.table.table-hover
          tr
            th Pool
            th Host
            th Description
            th Missing patches
            th Install
          tbody(ng-repeat="pool in pools.all | map | orderBy:'name_label'")
            tr( ng-repeat="host in hostsByPool[pool.id]" ng-if="nbUpdates[host.id]")
              td.oneliner
                | {{ pool.name_label }}
              td.oneliner
                | {{ host.name_label }}
              td.oneliner
                | {{ host.name_description }}
              td {{ nbUpdates[host.id] }}
              td
                button.btn.btn-success(ng-click="installHostPatches(host.id)" tooltip="Install {{ nbUpdates[host.id] }} patch(es)")
                  | Update host
