.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-dashboard(style="color: #e25440;")
      |  Dashoard
.grid
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-cloud(style="color: #e25440;")
        |  Pools
      .panel-body.text-center
        p.big-stat {{pools.nb}}
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-server(style="color: #e25440;")
        |  Hosts
      .panel-body.text-center
        p.big-stat {{hosts.nb}}
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-desktop(style="color: #e25440;")
        |  VMs
      .panel-body.text-center
        p.big-stat {{vms.nb}}
.grid
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory(style="color: #e25440;")
        |  Global RAM usage
      .panel-body.text-center
        canvas(  
          id="doughnut"  
          class="chart chart-doughnut"  
          data="ram"  
          labels="['Used', 'Free']"  
          options='{responsive: false,tooltipTemplate: "<%if (label){%><%=label%>: <%}%><%= bytesToSize(value) %>"}'  
          )  

  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-dashboard(style="color: #e25440;")
        |  vCPUs/CPUs
      .panel-body.text-center
        canvas(  
                 id="bar"  
                class="chart chart-bar"  
                data="cpu"  
                labels="['']"  
                series="['vCPUs','CPUs']"  
                options="{scaleShowGridLines: false, barDatasetSpacing : 10, showScale: false, responsive: false}"  
        )  


  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-question-circle(style="color: #e25440;")
        |  VMs power state
      .panel-body.text-center
        canvas(
          id="pie"
          class="chart chart-pie"
          data="vms.states"
          labels="['Running', 'Halted', 'Suspended', 'Action']"
          colours="['#5cb85c', '#d9534f', '#5bc0de', '#f0ad4e']"
          options="{responsive: false}"
        )
.grid
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-database(style="color: #e25440;")
        |  Storage
      .panel-body
        table.table.table-hover
          tr
            th Name
            th pool
            th host
            th Format
            th Size
            th Physical/Allocated usage
          //- TODO: display PBD status for each SR of this host (connected or not)
          //- Shared SR
          tr(xo-sref="SRs_view({id: SR.id})", ng-repeat="SR in srs | map | orderBy:natural('name_label') track by SR.id")
            td.oneliner
              | {{SR.name_label}}
            td.oneliner
              | {{SR.pool_label}}
            td.oneliner
              | {{SR.host_label}}
            td {{SR.SR_type}}
            td {{SR.size | bytesToSize}}
            td
              .progress-condensed
                .progress-bar(role="progressbar", aria-valuemin="0", aria-valuenow="{{SR.usage}}", aria-valuemax="{{SR.size}}", style="width: {{[SR.physical_usage, SR.size] | percentage}}", tooltip="Physical usage: {{[SR.physical_usage, SR.size] | percentage}}")
                .progress-bar.progress-bar-info(role="progressbar", aria-valuemin="0", aria-valuenow="{{SR.physical_usage}}", aria-valuemax="{{SR.size}}", style="width: {{[(SR.usage-SR.physical_usage), SR.size] | percentage}}", tooltip="Allocated: {{[(SR.usage), SR.size] | percentage}}")
            