.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-pie-chart(style="color: #e25440;")
      |  Dataviz
.grid
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory(style="color: #e25440;")
        |  Memory usage
      .panel-body.text-center
        sunburst-chart(
          chart-data="charts.ram",
          selected = "charts.selected",
          log="true"
          over="charts.over(d)"
          )
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory(style="color: #e25440;")
        |  CPU usage
      .panel-body.text-center
        sunburst-chart(
          chart-data="charts.cpu",
          selected = "charts.selected",
          over="charts.over(d)",
        style="width:300px"
          )
