.grid-sm
  .panel.panel-default
    p.page-title
      i.fa.fa-pie-chart
      |  Dataviz
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory
        |  Memory usage
      .panel-body.text-center(        
          ng-controller="DatavizRamHierarchical as ram"
      )
        sunburst-chart(
          click="charts.click(d)"
          chart-data="charts.data"
          )
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory
        |  Storage
      .panel-body.text-center(
          ng-controller="DatavizStorageHierarchical as storage"        
      )
        sunburst-chart(
          click="charts.click(d)"
          chart-data="charts.data"
         
          )
//- .grid-sm
//-   .grid-cell
//-     .panel.panel-default
//-       .panel-heading.panel-title
//-         i.xo-icon-memory
//-         |  Storage
//-       .panel-body.text-center(
//-           ng-controller="DatavizStorageHierarchical as storage"        
//-       )
//-         treemap-chart(
//-           click="charts.click(d)"
//-           chart-data="charts.data"
         
//-           )
.grid-sm
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        weekheatmap(
          chart-data="charts.heatmap"
          days="['Sun','Mon','Tue','Wed','Thu','Fri']"
        )
