.grid
  .panel.panel-default
    p.page-title
      i.fa.fa-pie-chart(style="color: #e25440;")
      |  Dataviz
.grid
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory(style="color: #e25440;")
        |  Memory usage
      .panel-body.text-center(        
          ng-controller="DatavizRamHierarchical as ram"
      )
        sunburst-chart(
          click="charts.click(d)"
          chart-data="charts.data"
          )
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory(style="color: #e25440;")
        |  Storage
      .panel-body.text-center(
          ng-controller="DatavizStorageHierarchical as storage"        
      )
        sunburst-chart(
          click="charts.click(d)"
          chart-data="charts.data"
         
          )
