
.grid-sm(ng-if="!selectedChart")
  .panel.panel-default
    p.page-title 
      i.fa.fa-pie-chart
      |  Dataviz
    .panel-body.text-center
    
      .chart-selector(
        ng-repeat="(id,chart) in availablecharts"
        ui-sref="dashboard.dataviz({chart:id})")
        div {{chart.name }}
        img.img-thumbnail(
          ng-repeat="img in chart.imgs"
          ng-src="{{img}}"
          )
         
.grid-sm(ng-if="selectedChart =='sunburst'")
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory
        |  Memory usage
      .panel-body.text-center(        
          ng-controller="DatavizRamHierarchical as ram"
          style="position:relative"    
      )
        sunburst-chart(
          click="charts.click(d)"
          chart-data="charts.data"
          )
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-sr
        |  Storage
      .panel-body.text-center(
          ng-controller="DatavizStorageHierarchical as storage"    
          style="position:relative"    
      )
        sunburst-chart(
          click="charts.click(d)"
          chart-data="charts.data"
          )
.grid-sm(ng-if="selectedChart =='circle'")
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-memory
        |  Memory usage
      .panel-body.text-center(        
          ng-controller="DatavizRamHierarchical as ram"
          style="position:relative"    
      )
        circle-chart(
          click="charts.click(d)"
          chart-data="charts.data"
          )
  .grid-cell
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-sr
        |  Storage
      .panel-body.text-center(
          ng-controller="DatavizStorageHierarchical as storage"    
          style="position:relative"    
      )
        circle-chart(
          click="charts.click(d)"
          chart-data="charts.data"
          )
 .grid-sm(ng-if="selectedChart == 'parcoords'")
   .grid-cell
     .panel.panel-default
       .panel-heading.panel-title
         i.xo-icon-memory
         |  VMs properties
       .panel-body.text-center(   
         ng-controller="DatavizParcoords as parcoords"     
       )
         parallel-chart(
           click="charts.click(d)"
           chart-labels="charts.labels"
           chart-data="charts.data"
           )
